@font-face {
    font-family:"Airstream";
    src: url("/font/Airstream-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Lakeshor";
    src: url("/font/LAKESHOR-webfont.woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
html {
    font-size: 62.5%;
}
.logo {
    font-family: 'Lakeshor';
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 2rem;
    text-align:center;
    background-color: azure;
    border: 3px solid black;
    margin-left: 40rem;
    width: 650px;
    height: 20px;
    word-spacing: 5px;
}

.gallery--item_image {
    display: inline-block;
    width:15rem;
    height:15rem;
    object-fit: cover;

}
.gallery {
    display: flex;
    margin-left: -40rem;
    flex-direction: row;
    height: 500px;
    object-fit: cover;
    overflow:auto;
}
.gallery--item_title {
    display: inline-block;
    width:15rem;
    font-family: "Ubuntu", serif;
    font-weight: 600;
    font-style: italic;
    font-size: 1.3rem;
    background-color: aliceblue;
    text-align: center;
    overflow:auto;
}
.gallery--item_image {
    display: flex;
    justify-content: center;
}
.gallery--item {
    border: 2px solid lightgrey;
    border-radius: 40px;
    overflow: hidden;
    width: 15rem;

}
.general--design{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.general--image{
    clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 70%, 70% 100%, 0 100%, 0% 70%, 0% 30%);
    margin-top: 30px;
    width: 180px;
    height: auto;
    margin-left: 5px;
    
}
.title--general--image{
    display: inline-block;
    flex-direction: row;
    background: white;
    font-size: 20px;
    border:3px solid rgb(17, 17, 17);
    align-items: center;
    width: 150px;
    margin-top:-30px;
    margin-left: -53rem;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   
}


.gallery--item_image:hover{
    filter:blur(3px);
}
body{
    background-image: url(../images/liquid-cheese.svg);
    background-size: cover;
}
@media screen and (min-width: 390px) {
   .general--image{
    width: 380px;
   }
    .general--design{
    flex-wrap: wrap-reverse;
   }
   
    .gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   }
}
@media screen and (min-width: 844px){
    .general--design{
        flex-wrap: wrap-reverse;
       }
       
        .gallery{
            display: inline-block;
            flex-direction: column;
            height: 300px;
            object-fit: cover;
            overflow:auto;
            padding: 5px;
       }
       .general--image{
        margin-left: 80px;
        
       }
       .body{
        height: 390px;
       }
    }
    @media screen and (min-width: 1000px){
        .gallery {
            display: inline-block;
            flex-direction: column;
            height: 500px;
            object-fit: cover;
            overflow:auto;
        }
        .general--design{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .general--image{
            clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 70%, 70% 100%, 0 100%, 0% 70%, 0% 30%);
            margin-top: 30px;
            width: 53rem;
            height: auto;
            margin-left: 5px;}
        .logo{
            width: 670px;
        }
        h3{
            font-size: 30px;
        }
        .logo{
    
            padding: 20px;
        }
        .title--general--image:hover
     {
        margin-top: -380px;
        white-space:initial;
        overflow: hidden;
        text-overflow: ellipsis;
    } 
        }
        

.detailedContainer--title{
    font-family: 'Airstream';
    font-weight: normal;
    font-style: italic;
}


.animate__fadeInLeft {
    animation: 2s;
}
